<navigation-header (search)="updateResults($event)"></navigation-header>
<div class="main-view-body">
<div class="col-xs-2">
  <div *ngFor="let element of options; index as i" class="form-group">
    <input type="checkbox" [checked]="element.selected" (change)="selection($event, i)">{{element.name}}: XX
  </div>
</div>
<div class="col-xs-10">
  <div *ngFor="let result of results" class="result-container">
    <div class="col-xs-2">
      <img class="result-image" src="{{getImageSrc(result)}}">
    </div>
    <div class="col-xs-10">
      <h3>{{result.volumeInfo.title}}</h3>
      <h5>{{result.volumeInfo.publishedDate}}</h5>
      <h5>Preis: XX €</h5>
    </div>
  </div>
</div>
</div>
