.main-view-body {
  margin-top: 80px;
}

.result- {
  &container {
    padding: 0 15px 15px 15px;
    height: 250px;

    &:after {
      clear: both;
      display: table;
      content: ' ';
    }
  }

  &image {
    max-width: 100%;
  }
}

h3 {
word-break: break-all;
}

.author-link {
  cursor: pointer;
  list-style-type: none;
}

.favorite-icon {
  cursor: pointer;
}
