.navigation-container {
  padding-left: 15px;
  padding-right: 15px;
}

.searchField {
  float: left;
  width: 400px;

  & > div, > div > input {
    width: 100%;
  }
}

.form-control {
  display: inline;
}

.dropdown-menu {
  padding: 0 18px;
  margin: 0 15px;
}

.dropdown-link {
  cursor: pointer;
}
